body,
html {
  font-family: "Montserrat", sans-serif;
}

.card_hover:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-text {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
